{{!-- {{ log 'Attack Card' this }} --}}
<div class="" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>        
    <div>{{{renderedRoll}}}</div>
</div>