{{ log 'Type Editor' this }}
<form>
    <div class="flex-row">
        <div>{{localize "Group.Sheet.ActorPicker.Name"}}:</div>
        <div></div>
    </div>

    <div class="flex-row">
        <div>{{localize "Group.Sheet.ActorPicker.Color"}}:</div>
        <div></div>
    </div>

    <button>{{localize "Group.Sheet.ActorPicker.Submit"}}</button>
</form>