.flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.square-input {
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
    font-size: 14px !important;
    text-align: center !important;
    border: 1px solid #ccc !important;
}

.name-input {
    flex-grow: 1;
    height: 60px !important;
    padding: 0 !important;
    font-size: 14px !important;
    text-align: center !important;
    border: 1px solid #ccc !important;
}

.pc-profile-img {
    width: 100px;
    height: 100px;
}

/* item cards for pc sheet */
.card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 140px;
    aspect-ratio: 1.4;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card-header {
    display: flex;
    align-items: center;
    /* background-color: #333; */
    background-color: var(--text-color, #a8a878);
    color: white;
    padding: 5px;
}

.card-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.card-name {
    flex-grow: 1;
    font-weight: bold;
}

.card-textarea {
    flex-grow: 1;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.large-card {
    width: 300px;
    height: 420px;
}

.small-card {
    width: 100px;
    height: 140px;
}

/* scene control icons */
.scene-control-icon,
.scene-control-icon-types {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    line-height: 1.45;
}

.scene-control-icon::before {
    content: 'UnT';
}

.scene-control-icon-types::before {
    content: 'Types';
}

/* typing tags */
.typing-tags {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    font-size: 8px;
    color: var(--text-color, #fff);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 6px;
    background-color: var(--typing-color, #a8a878); /* Base color */ 
}

.input-label {
    font-size: 1rem;
    margin-right: 1rem;
    width: 150px; 
}

.input-field {
    font-size: 1rem;
    padding: 0.5rem;
    width: 150px;
}

.split-75-25 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 6px;
    grid-template-columns: 75% 25%;
}

/* sizes */
.size-40-40 {
    width: 40px !important;
    height: 40px !important;
}
